<template>
  <el-row>
    <el-col :xs="24" :sm="12">
      <el-card>
        <template #header>
          <strong>Добавить оплату</strong>
        </template>
        <el-card-body>
          <el-form class="addpay" label-position="top">
            <el-form-item label="Сумма" prop="sum">
              <el-input type="number" v-model="user.sum"></el-input>
            </el-form-item>
            <el-form-item label="Пользователь">
              <el-select
                v-model="user.name"
                placeholder="Выбрать пользователя"
                filterable
                required
              >
                <el-option
                  v-for="(user, index) in users"
                  :key="index"
                  :label="user.name"
                  :value="user.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-form>
          <el-button type="primary">Добавить</el-button>
        </el-card-body>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  name: 'AddPay',
  data() {
    return {
      user: {
        sum: '',
        name: '',
      },
      users: [{}],
    }
  },
  mounted() {
    this.$http.get('/users').then(({ data }) => {
      this.users = data.data
    })
  },
}
</script>

<style scoped>
.addpay {
  display: flex;
  justify-content: space-between;
}
</style>
