<template>
  <div>
    <el-row>
      <el-col :xs="24" :sm="19">
        <el-card>
          <template #header>
            <strong>Список оплат</strong>
          </template>

          <el-button
            @click="$router.push({ name: 'payment-add' })"
            type="primary"
            class="mb-1"
            >Добавить оплату</el-button
          >
          <el-form>
            <div class="d-md-flex gap-md-1 flex-md-wrap">
              <el-select
                v-model="selectUser"
                filterable
                placeholder="Сортировать по имени"
                style="max-width: 195px"
              >
                <el-option
                  v-for="item in users"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>

              <div class="d-md-flex gap-md-1">
                <el-form-item label="Дата с:">
                  <el-input
                    id="fromData"
                    type="date"
                    v-model="selectDate.from"
                    style="max-width: 150px"
                  />
                </el-form-item>
                <el-form-item label="до:">
                  <el-input
                    id="toData"
                    type="date"
                    v-model="selectDate.to"
                    style="max-width: 150px"
                  />
                </el-form-item>
              </div>

              <el-button
                type="primary"
                plain
                style="max-height: 40px; width: 90px; padding: 0"
                @click="sortData"
                >Показать</el-button
              >
              <el-button
                type="info"
                plain
                style="max-height: 40px; width: 50px; padding: 0"
                @click="clearData"
                ><span class="btn-icon">
                  <CIcon :icon="cilSync" size="lg"></CIcon> </span
              ></el-button>
            </div>
          </el-form>
          <el-card-body>
            <el-table :data="pays">
              <el-table-column prop="name" label="Имя" />
              <el-table-column prop="sum" label="Сумма" />
              <el-table-column prop="data" label="Дата" />
            </el-table>
          </el-card-body>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import CIcon, { cilSync } from '@coreui/icons'
export default {
  name: 'Pays',
  components: {
    CIcon,
  },
  data() {
    return {
      cilSync,
      selectUser: '',
      users: [
        {
          value: 'Anwar',
          label: 'anwar ',
        },
        {
          value: 'Shokir',
          label: 'Shokir ',
        },
        {
          value: 'Qushmoq',
          label: 'Qushmoq ',
        },
        {
          value: 'Amir temur',
          label: 'Amir temur ',
        },
        {
          value: 'Qosim',
          label: 'Qosim ',
        },
        {
          value: 'Mirshakar',
          label: 'Mirshakar ',
        },
      ],
      selectDate: {
        from: '',
        to: '',
      },
      pays: [
        {
          name: 'Наримонов Кошмок',
          sum: '1000',
          data: '2022-01-15',
        },
        {
          name: 'Эшонов Баходир',
          sum: '1000',
          data: '2022-06-10',
        },
        {
          name: 'Пайзилло',
          sum: '1000',
          data: '2022-06-10',
        },
        {
          name: 'Анарбек',
          sum: '1000',
          data: '2022-02-11',
        },
      ],
    }
  },
  methods: {
    sortData() {
      if (
        this.selectUser === '' &&
        (this.selectDate.from === '' || this.selectDate.to === '')
      ) {
        return this.$toast.error('Выберите дату')
      }
      return this.$http.get('pays', {
        params: { data: this.selectDate, user: this.selectUser },
      })
    },
    clearData() {
      ;(this.selectUser = ''),
        (this.selectDate.from = ''),
        (this.selectDate.to = '')
    },
  },
}
</script>

<style scoped></style>
