<template>
  <CategoryForm
    v-model:category="category"
    :load-spinner="loadSpinner"
    @save="save"
  />
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import CategoryForm from '@/components/CategoryForm'
import { locales } from '@/constants'

export default {
  name: 'EditCategory',
  components: { CategoryForm },
  props: ['id'],
  data() {
    let categoryLocales = {}
    locales.forEach((item) => (categoryLocales[item] = {}))

    for (let locale in categoryLocales) {
      categoryLocales[locale].name = ''
    }

    return {
      loadSpinner: false,
      category: {
        locales: categoryLocales,
        icon: '',
      },
    }
  },
  mounted() {
    this.$http.get('/categories/' + this.id).then(({ data }) => {
      this.category = data.data
    })
  },
  methods: {
    save() {
      this.loadSpinner = true
      return this.$http
        .put('/categories/' + this.id, this.category)
        .then(({ data }) => {
          this.category = data.data
          this.$toast.success('Изменения сохранены')
          this.$router.push('/categories')
        })
        .catch(({ response: { data } }) => {
          let errors = ''
          for (let key in data.errors) {
            errors += data.errors[key] + '<br/>'
          }
          this.$toast.error('Ошибка в изменении: <br />' + errors)
          this.loadSpinner = false
        })
    },
  },
}
</script>

<style scoped></style>
