<template>
  <CRow>
    <CCol xs="12" sm="6">
      <CCard class="mb-6">
        <CHeader class="hero-title">
          <strong class="title">Мой профиль</strong>
        </CHeader>
        <CCardBody class="form-group profilecard-form">
          <form @submit.prevent="save">
            <label for="name">Имя заведения</label>
            <el-input
              v-model="profile.name"
              type="text"
              id="name"
              required
            ></el-input>
            <label for="description">Описание</label>
            <el-input
              v-model="profile.description"
              id="description"
              type="textarea"
              cols="30"
              rows="4"
              minlenght="15"
              required="required"
            ></el-input>
            <div class="custom-file">
              <label class="custom-file-label" for="photo"
                >Фото заведения</label
              >
              <input
                style="display: none"
                type="file"
                id="file"
                ref="file"
                @change="loadImage($event)"
                accept="image/*"
              />
              <div v-if="editPhoto" class="upload-example">
                <cropper
                  :stencil-props="{
                    minAspectRatio: 4 / 3,
                    maxAspectRatio: 4 / 3,
                  }"
                  :canvas="{
                    height: 1080,
                    width: 1080,
                  }"
                  ref="cropper"
                  class="upload-example-cropper"
                  :src="image.src"
                  style="max-width: 100%; max-height: 280px; margin-bottom: 5px"
                />
                <div v-if="editPhoto" class="button-wrapper d-flex">
                  <CButton
                    color="success"
                    variant="outline"
                    type="button"
                    class="button btn-cropper"
                    @click="cropPhoto"
                  >
                    Сохранить</CButton
                  >
                  <CButton
                    color="secondary"
                    variant="outline"
                    type="button"
                    @click="editPhoto = false"
                    >Отменить</CButton
                  >
                </div>
              </div>

              <div v-else class="product-image">
                <img class="product-img" :src="profile.photo" alt="" />
                <CButton
                  color="success"
                  variant="outline"
                  type="button"
                  @click="editClick"
                  >Изменить фото</CButton
                >
              </div>
            </div>
            <label for="adress">Адрес</label>
            <el-input
              v-model="profile.address"
              type="text"
              id="adress"
              required
            ></el-input>
            <label for="link">Ссылка</label>
            <el-input
              style="padding: 0"
              v-model="profile.slug"
              type="text"
              id="link"
              required
            >
              <template #prepend>
                <span>https://mr.kg/</span>
              </template>
            </el-input>
            <label for="insta">Instagram</label>
            <el-input
              v-model="profile.social_networks.instagram"
              type="text"
              id="insta"
            ></el-input>
            <label for="facebook">Facebook</label>
            <el-input
              v-model="profile.social_networks.facebook"
              type="text"
              id="facebook"
            ></el-input>
            <label for="tel">Номер телефона</label>
            <div class="tel">
              <el-input
                v-maska="'996#########'"
                v-model.number="profile.phone"
                type="tel"
                id="tel"
              ></el-input>
              <div class="form-check form-switch">
                <input
                  v-model="profile.social_networks.whatsapp"
                  class="form-check-input"
                  type="checkbox"
                  id="whatsapp"
                />
                <label class="form-check-label" for="whatsapp">Whatsapp</label>
              </div>
              <div class="form-check form-switch">
                <input
                  v-model="profile.social_networks.telegram"
                  class="form-check-input"
                  type="checkbox"
                  id="telegram"
                />
                <label class="form-check-label" for="telegram">Telegram</label>
              </div>
            </div>
            <CRow class="working">
              <CCol :xs="4">
                <CCardText>Рабочие дни</CCardText>
                <CRow>
                  <CCol class="working-days">
                    <div
                      v-for="(day, index) in days"
                      :key="index"
                      class="checkbox"
                    >
                      <label for="days">{{ day.name }}</label>
                      <input
                        :value="true"
                        v-model="day.checked"
                        type="checkbox"
                        id="days"
                      />
                    </div>
                  </CCol>
                </CRow>
              </CCol>
              <CCol :xs="5">
                <CCardText>Время Работы</CCardText>
                <CRow>
                  <CCol
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span class="me-2">с:</span>
                    <el-input
                      class="timeinput"
                      placeholder="10:00"
                      v-model="from"
                      type="time"
                    ></el-input>
                  </CCol>
                  <CCol
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span class="me-2">до:</span>
                    <el-input
                      class="timeinput"
                      placeholder="23:00"
                      v-model="to"
                      type="time"
                    ></el-input>
                  </CCol>
                </CRow>
              </CCol>
            </CRow>
            <el-button
              native-type="submit"
              class="mt-3 save-btn"
              type="primary"
              :loading="loadSpinner"
              >Сохранить</el-button
            >
          </form>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'
export default {
  name: 'Profile',
  components: { Cropper },
  data() {
    return {
      loadSpinner: false,
      editPhoto: false,
      image: {
        src: null,
        type: null,
      },
      days: [
        { name: 'Пн', checked: true },
        { name: 'Вт', checked: true },
        { name: 'Ср', checked: true },
        { name: 'Чт', checked: true },
        { name: 'Пт', checked: true },
        { name: 'Сб', checked: false },
        { name: 'Вс', checked: false },
      ],
      from: '',
      to: '',
      profile: {
        new_photo: false,
        name: '',
        description: '',
        address: '',
        phone: '',
        photo: '',
        social_networks: {
          instagram: '',
          facebook: '',
          whatsapp: false,
          telegram: false,
        },
        slug: '',
      },
    }
  },
  mounted() {
    this.$http.get('/restaurant').then(({ data }) => {
      if (
        !data.data.social_networks ||
        data.data.social_networks.length === 0
      ) {
        data.data.social_networks = this.profile.social_networks
      }
      this.profile = data.data
      const getDays = data.data.working_days.split(',')
      const getTime = data.data.working_time.split('-')
      for (let day of this.days) {
        day.checked = getDays.includes(day.name)
      }
      this.from = getTime[0]
      this.to = getTime[1]
    })
  },
  methods: {
    cropPhoto() {
      this.profile.new_photo = true
      const { canvas } = this.$refs.cropper.getResult()
      this.profile.photo = canvas.toDataURL('image/jpeg', 1)
      this.editPhoto = false
    },
    editClick() {
      this.$refs.file.click()
    },
    reset() {
      this.image = {
        src: null,
        qrType: null,
      }
    },
    loadImage(event) {
      const { files } = event.target
      if (files && files[0]) {
        this.editPhoto = true
        if (this.image.src) {
          URL.revokeObjectURL(this.image.src)
        }
        const blob = URL.createObjectURL(files[0])
        const reader = new FileReader()
        reader.onload = () => {
          this.image = {
            src: blob,
          }
        }
        reader.readAsArrayBuffer(files[0])
      }
    },
    save() {
      this.loadSpinner = true
      this.profile.phone = String(this.profile.phone)
      const data = {
        ...this.profile,
        working_days: this.days
          .filter((item) => item.checked)
          .map((item) => item.name)
          .join(','),
        working_time: this.from + '-' + this.to,
      }
      return this.$http
        .put(`/restaurants/${this.profile.id}`, data)
        .then(() => {
          this.$toast.success('Изменения сохранены')
          this.loadSpinner = false
        })
        .catch(({ response: { data } }) => {
          console.log(data)
          this.$toast.error('Ошибка в изменении')
          this.loadSpinner = false
        })
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$toast.error('Такой формат не поддерживается!')
      }
      if (!isLt2M) {
        this.$toast.error('Выбранный фото весить больше чем 2MB!')
      }
      return isJPG && isLt2M
    },
  },
}
</script>

<style scoped>
.tel {
  display: flex;
  align-items: center;
}
.tel .form-switch {
  margin-left: 10px;
}
.checkbox input {
  margin-left: 2px;
}
.working {
  margin-top: 10px;
  column-gap: 80px;
}
.working CCol CCardText {
  margin-bottom: 5px;
}
.timeinput {
  width: 100px;
  padding: 0;
}
.working-days {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}
.save-btn {
  color: #fff;
  font-weight: 500;
}
.button-wrapper {
  column-gap: 5px;
  justify-content: end;
}
.product-img {
  width: 100%;
  margin-bottom: 5px;
}
.product-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
@media screen and (max-width: 960px) {
}
</style>
