<template>
  <meal-form v-model:product="product" :load-spinner="loadSpinner" @save="save">
  </meal-form>
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import { mapGetters } from 'vuex'
import MealForm from '@/components/MealForm'
import { locales } from '@/constants'

let emptyPrice = {
  quantity: '',
  measure: 'portion',
  price: '',
}
export default {
  components: { MealForm },
  name: 'AddMeal',
  props: ['id'],
  data() {
    let mealLocales = {}
    locales.forEach((item) => (mealLocales[item] = {}))

    for (let locale in mealLocales) {
      mealLocales[locale].name = ''
      mealLocales[locale].description = ''
    }

    return {
      loadSpinner: false,
      product: {
        locales: mealLocales,
        photo: '',
        prices: [{ ...emptyPrice }],
        category: '',
        category_id: '',
      },
    }
  },
  computed: {
    ...mapGetters(['selectCategory']),
  },
  methods: {
    save() {
      this.loadSpinner = true
      return this.$http
        .post('/meals', this.product)
        .then(({ data }) => {
          this.product = data.data
          this.$toast.success('Добавлено')
          this.$router.push({
            path: '/meals',
          })
        })
        .catch(({ response: { data } }) => {
          let errors = ''
          for (let key in data.errors) {
            errors += data.errors[key] + '<br/>'
          }
          this.$toast.error('Ошибка в добавлении: <br />' + errors)
          this.loadSpinner = false
        })
    },
  },
  mounted() {
    this.product.category_id = this.selectCategory || ''
  },
}
</script>

<style scoped></style>
