<template>
  <meal-form v-model:product="product" :load-spinner="loadSpinner" @save="save">
  </meal-form>
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import MealForm from '@/components/MealForm'
import { locales } from '@/constants'

export default {
  name: 'EditMeal',
  components: {
    MealForm,
  },
  props: ['id'],
  data() {
    let mealLocales = {}
    locales.forEach((item) => (mealLocales[item] = {}))

    for (let locale in mealLocales) {
      mealLocales[locale].name = ''
      mealLocales[locale].description = ''
    }

    return {
      loadSpinner: false,
      product: {
        locales: mealLocales,
        photo: '',
        price: [],
        category: '',
        category_id: '',
      },
    }
  },
  mounted() {
    this.$http.get('/meals/' + this.id).then(({ data }) => {
      this.product = data.data
    })
  },
  methods: {
    save() {
      this.loadSpinner = true
      return this.$http
        .put('/meals/' + this.id, this.product)
        .then(() => {
          this.$toast.success('Изменения сохранены')
          this.$router.push({
            path: '/meals',
          })
        })
        .catch(({ response: { data } }) => {
          let errors = ''
          for (let key in data.errors) {
            errors += data.errors[key] + '<br/>'
          }
          this.$toast.error('Ошибка в изменении: <br />' + errors)
          this.loadSpinner = false
        })
    },
  },
}
</script>

<style scoped></style>
