<template>
  <el-row>
    <el-col :xs="24" :lg="16">
      <el-card>
        <template #header>
          <strong> Изменить порядок позиций </strong>
        </template>
        <el-button type="primary" @click="saveSorting">Сохранить</el-button>
        <el-button type="info" @click="goBack">Отменить</el-button>
        <el-card-body>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>№</th>
                <th>Имя</th>
              </tr>
            </thead>
            <draggable item-key="id" tag="tbody" v-model="products">
              <template #item="{ element, index }">
                <tr class="cursor">
                  <td>{{ index + 1 }}</td>
                  <td>{{ element.locales.ru.name }}</td>
                </tr>
              </template>
            </draggable>
          </table>
        </el-card-body>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
import draggable from 'vuedraggable'
import 'vue-toast-notification/dist/theme-sugar.css'

export default {
  components: {
    draggable,
  },
  name: 'sort',
  props: ['category_id'],
  data() {
    return {
      products: [],
    }
  },
  methods: {
    goBack() {
      this.$router.push({
        path: '/meals',
      })
    },
    saveSorting() {
      const sortMeals = this.products.map((item, index) => {
        return { id: item.id, position: index + 1 }
      })
      this.$http
        .post('/meals/positions', {
          data: sortMeals,
          category_id: this.category_id,
        })
        .then(() => {
          this.$toast.success('Изменение сохранено')
          this.goBack()
        })
        .catch(() => this.$toast.error('Ошибка в изменении'))
    },
  },
  mounted() {
    this.$http
      .get('meals', { params: { category_id: this.category_id } })
      .then(({ data }) => {
        this.products = data.data
        this.loading = false
      })
  },
}
</script>

<style scoped>
.cursor {
  cursor: move;
}
</style>
