<template>
  <div class="d-flex">
    <div
      :style="{ backgroundImage: 'url(' + restaurant.photo + ')' }"
      id="block"
      class="block"
    >
      <div class="ourlogo">
        <img style="width: 100%" src="/icons/logo.png" alt="" />
      </div>
      <CCol :lg="12">
        <CRow style="margin-top: 70px">
          <CCol>
            <QRCodeVue3
              class="qr"
              :key="qrColor + qrType"
              :width="220"
              :height="220"
              :value="'https://' + restaurant.slug"
              :qrOptions="{
                typeNumber: 0,
                mode: 'Byte',
                errorCorrectionLevel: 'H',
              }"
              :imageOptions="{
                hideBackgroundDots: true,
                imageSize: 0.4,
                margin: 0,
              }"
              :dotsOptions="{
                type: qrType,
                color: '#948d0f',
                gradient: {
                  type: 'linear',
                  rotation: 0,
                  colorStops: [{ offset: 0, color: qrColor }],
                },
              }"
              :backgroundOptions="{ color: '#ffffff' }"
              :cornersSquareOptions="{ type: 'dot', color: qrColor }"
              :cornersDotOptions="{ type: undefined, color: qrColor }"
            />
          </CCol>
          <CCol class="qr-text">
            <div class="block-text">
              <span class="qr-menu">ОНЛАЙН МЕНЮ</span>
            </div>
            <ol>
              <li>Откройте камеру</li>
              <li>Отсканируйте QR-код</li>
              <li>Нажмите на ссылку</li>
            </ol>
            <div style="text-align: right">
              <span style="font-size: 10px"
                >Powered by <strong>MR.KG</strong></span
              >
            </div>
          </CCol>
        </CRow>
      </CCol>
    </div>
  </div>
</template>

<script>
import QRCodeVue3 from 'qrcode-vue3'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'QrStandart',
  components: {
    QRCodeVue3,
  },
  props: {
    restaurant: {
      type: Object,
    },
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['qrType', 'qrColor', 'stolNumber']),
  },
  methods: {
    ...mapActions(['setQrType', 'setColor', 'setStolNumber']),
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quintessential&family=Roboto:wght@700;900&display=swap');
.d-flex {
  column-gap: 80px;
}
.block {
  width: 190mm;
  height: 130mm;
  padding: 15px;
  position: relative;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ourlogo {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.qr-text {
  color: #ffffff;
  background-color: rgba(59, 59, 56, 0.7);
  margin-right: 10px;
  font-size: 20px;
  position: absolute;
  width: 220px;
  overflow: hidden;
  border-radius: 15px;
  top: 20px;
  right: 20px;
}
.stol-number {
  border-bottom: 2px solid #fff;
  width: 40%;
  margin: 0 auto;
}
ol {
  margin-left: -15px;
  font-size: 15px;
  margin-bottom: 0px;
}
.block-text {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 27px;
}
.qr {
  position: absolute;
  width: 220px;
  overflow: hidden;
  border-radius: 15px;
  right: 30px;
  bottom: 20px;
}
</style>
