<template>
  <div>
    <el-radio-group v-model="newValue" size="large">
      <el-radio-button label="chikken"
        ><img src="/admin/category-icons/chikken.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="cold"
        ><img src="/admin/category-icons/cold.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="soup"
        ><img src="/admin/category-icons/soup.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="desert"
        ><img src="/admin/category-icons/desert.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="dish"
        ><img src="/admin/category-icons/dish.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="dish-2"
        ><img src="/admin/category-icons/dish-2.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="drink"
        ><img src="/admin/category-icons/drink.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="drink-2"
        ><img src="/admin/category-icons/drink-2.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="drink-3"
        ><img src="/admin/category-icons/drink-3.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="drink-4"
        ><img src="/admin/category-icons/drink-4.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="drink-5"
        ><img src="/admin/category-icons/drink-5.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="tea"
        ><img src="/admin/category-icons/tea.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="tea-2"
        ><img src="/admin/category-icons/tea-2.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="teapot"
        ><img src="/admin/category-icons/teapot.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="teapot-2"
        ><img src="/admin/category-icons/teapot-2.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="teapot-3"
        ><img src="/admin/category-icons/teapot-3.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="teapot-4"
        ><img src="/admin/category-icons/teapot-4.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="salad"
        ><img src="/admin/category-icons/salad.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="salad-2"
        ><img src="/admin/category-icons/salad-2.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="steak"
        ><img src="/admin/category-icons/steak.svg" alt="" width="50"
      /></el-radio-button>
      <el-radio-button label="garnish"
        ><img src="/admin/category-icons/garnish.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="hot"
        ><img src="/admin/category-icons/hot.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="hotdrink"
        ><img src="/admin/category-icons/hotdrink.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="keks"
        ><img src="/admin/category-icons/keks.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="pizza"
        ><img src="/admin/category-icons/pizza.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="roll"
        ><img src="/admin/category-icons/roll.svg" alt=""
      /></el-radio-button>

      <el-radio-button label="seause"
        ><img src="/admin/category-icons/seause.svg" alt=""
      /></el-radio-button>

      <el-radio-button label="beef"
        ><img src="/admin/category-icons/beef.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="breakfast"
        ><img src="/admin/category-icons/breakfast.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="cake"
        ><img src="/admin/category-icons/cake.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="fish"
        ><img src="/admin/category-icons/fish.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="combo"
        ><img src="/admin/category-icons/combo.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="burger"
        ><img src="/admin/category-icons/burger.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="kebab"
        ><img src="/admin/category-icons/kebab.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="samsa"
        ><img src="/admin/category-icons/samsa.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="valik"
        ><img src="/admin/category-icons/valik" alt=""
      /></el-radio-button>
      <el-radio-button label="fasad"
        ><img src="/admin/category-icons/fasad.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="spatel"
        ><img src="/admin/category-icons/spatel.svg" alt=""
      /></el-radio-button>
      <el-radio-button label="kist"
        ><img src="/admin/category-icons/kist.svg" alt=""
      /></el-radio-button>
    </el-radio-group>
  </div>
</template>

<script>
export default {
  name: 'SetIcon',
  props: {
    icon: {
      type: String,
    },
  },
  data() {
    return {
      newValue: '',
    }
  },
  emits: ['update:icon'],
  watch: {
    newValue(newValue) {
      this.$emit('update:icon', newValue)
    },
  },
  mounted() {
    this.newValue = this.icon
  },
}
</script>

<style scoped></style>
