<template>
  <UserForm v-model:user="user" :load-spinner="loadSpinner" @save="save" />
</template>

<script>
import 'vue-toast-notification/dist/theme-sugar.css'
import UserForm from '@/components/UserForm'
export default {
  name: 'AddUser',
  components: { UserForm },
  data() {
    return {
      loadSpinner: false,
      user: {
        name: '',
        login: '',
        password: '',
        tel: '',
        restaurant_name: '',
        restaurant_slug: '',
      },
    }
  },
  methods: {
    save() {
      this.loadSpinner = true
      this.$http
        .post('/users', this.user)
        .then(({ data }) => {
          this.user = data.data
          this.$toast.success('Добавлено')
          this.$router.push('/users')
        })
        .catch(({ response: { data } }) => {
          console.log(data)
          this.$toast.error('Ошибка в добавлении')
          this.loadSpinner = false
        })
    },
  },
}
</script>

<style scoped></style>
